{{> header}}

<main>
		<div class="tester">
			<div class="word-bank">
				<span word="0" class="first">cat</span>
				<span word="1" class>dog</span>
				<span word="2" class>mouse</span>
				<span word="3" class>rat</span>
				<span word="4" class>snake</span>
			</div>
			<input type="text" id="input" spellcheck="off">
		</div>
</main>

{{> footer}}